<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--for online download change connection in 'connectionStringbook'-->
		<add name="connectionStringbook" connectionString="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=localhost; PORT=3306; DATABASE=webmarch; USER=root; PASSWORD=root; OPTION=0;"/>
		<add name="tdbnewConnectionString" connectionString="Dsn=localhost;database=dataq;option=0;pwd=root;port=0;server=localhost;uid=root" providerName="System.Data.Odbc"/>
		<add name="tdbnewConnectionString2" connectionString="Dsn=localhost;database=dataq;option=0;pwd=root;port=0;server=localhost;uid=root" providerName="System.Data.Odbc"/>
		<add name="tdbnewConnectionString3" connectionString="Driver={MySQL ODBC 3.51 Driver};database=dataq;option=0;port=3306;server=localhost;uid=root;password=root" providerName="System.Data.Odbc"/>
	</connectionStrings>
	<appSettings>
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
		<!--<add key="ConnectionString" value="Driver={MySQL ODBC 3.51 Driver};database=armsdec8_test,devaswam;option=0;port=3306;server= 192.168.2.151;uid=root;password=root"/>-->
		<add key="ConnectionString" value="Driver={MySQL ODBC 3.51 Driver};database=armsdecoo8;option=0;port=3306;server=192.168.2.45;uid=root;password=root"/>
		<add key="DisplayTime" value="10000"/>
		<!--for online download change connection in 'connectionStringbook'-->
		<add key="connectionStringbook" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=localhost; PORT=3306; DATABASE=webmarch; USER=root; PASSWORD=root; OPTION=0;"/>
	</appSettings>
	<system.web>
		<identity impersonate="true"/>
		<customErrors mode="Off"></customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<tagMapping>
				<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
			</tagMapping>
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="cc1"/>
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<trace enabled="false" pageOutput="false"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
				<!--<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
				<add assembly="obout_ComboBox, Version=4.0.6.0, Culture=neutral, PublicKeyToken=8921cd007946710d"/>
				<!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<sessionState timeout="60"></sessionState>
	</system.web>
</configuration>
